<h1 class="text-center"> All Pod Clubs! </h1>


<div class = "p-2 text-center">
    <h3> </h3>
    <%= link_to "Not finding what you're looking for? Create a new club!", new_club_path, :class =>"btn btn-dark" %>
</div>





<div class="row p-4">
     <% @clubs.each do |club| %>
        <section class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-4" style="width: 16rem; height: 20rem">
                <img src="<%= club.club_image %>" alt="<%club.name%>" class="img-fuid w-100 h-50 mx-auto index-img">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to club.name, club_path(club) %></h5>
                    <p class="card-subtitle sm"><em><%= club.genre %></em></p>
                </div>
            </div>
        </section>
    <% end %>
</div>